@font-face {
  font-family: 'Fira Code';
  src: url(./FiraCode-VariableFont:wght.ttf);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: stretch;
  overflow: none;
}

header {
  position: absolute;
  top: 10px;
  right: 20px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  a + a {
    margin-left: 20px;
  }
}

.paris {
  display: flex;
  justify-content: center;
}

.decimal-time {
  font-family: 'Fira Code';
  font-weight: 300;
  font-size: 80px;
}
