@mixin tricolor($rotation: 90deg) {
  background-image: linear-gradient(
    $rotation,
    #0050A4 33%, 
    white 33%, 
    white 66%, 
    #EF4135 66%)
}

header {
  position: absolute;
  top: 10px;
  right: 20px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  a + a {
    margin-left: 20px;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: none;
  @include tricolor();
}

.decimal-time {
  font-size: 80px;
}

@media (max-width: 768px) {
  body {
    @include tricolor(180deg);
  }
}
