.hands {
  transform: rotate(-180deg);
  transform-origin: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .hour,
  .minute,
  .second {
    background-color: var(--red);
    width: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 2px 2px rgb(0 0 0 / 20%),
      0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 10%),
      0 16px 16px rgb(0 0 0 / 5%);
  }

  .hour {
    height: 30%;
  }

  .minute {
    height: 35%;
  }

  .second {
    height: 40%;
  }
}
